#cloud-config
hostname: {{ hostname }}
users:
  - name: pi
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, sudo
    ssh_import_id: None
    lock_passwd: false
    passwd: $6$rounds=4096$XXXXXXXXXXXXX$XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

ssh_pwauth: true
growpart:
  mode: auto
  devices: ['/']
